<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>668803629578-jebie8sps6l4ehklsqb99mm7fnp3ffnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668803629578-jebie8sps6l4ehklsqb99mm7fnp3ffnr</string>
	<key>API_KEY</key>
	<string>AIzaSyBKcXLSMFXmPL_QxHFYsAZOonB-7idKMSM</string>
	<key>GCM_SENDER_ID</key>
	<string>668803629578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gil.AziTeam</string>
	<key>PROJECT_ID</key>
	<string>aziteam</string>
	<key>STORAGE_BUCKET</key>
	<string>aziteam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668803629578:ios:f4389de1c61bc7913c95f3</string>
</dict>
</plist>
